@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

html {
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
