// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

// html {
//   height: 100vh;
//   display: grid;
//   place-items: center;
//   text-align: center;
//   font-family: "Poppins", sans-serif;
// }

// $fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
