<div>
  <h1>DashBoard</h1>

  <div *ngIf="authService.userData as user">
    <h1>
      Hello:
      <strong>{{ user.displayName ? user.displayName : "User" }}</strong>
    </h1>
  </div>
  <app-fetch-prices></app-fetch-prices>
  <!-- <app-search></app-search> -->
  <ais-instantsearch [config]="config">
    <ais-search-box></ais-search-box>
    <ais-hits>
      <ng-template let-hits="hits">
        <ul class="ais-Hits-list">
          <li *ngFor="let hit of hits" class="ais-Hits-item">
           {{hit.name}} - {{hit.currency}}
          </li>
        </ul>
      </ng-template>
    </ais-hits>
  </ais-instantsearch>
  
</div>
