:host {
  .search-box {
  }

  .search-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // grid-gap: 0.5em;
    margin-bottom: 1em;

    .search-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5em;
      border-bottom: 1px solid #ccc;
      cursor: pointer;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}
