<div class="form">
  <h3>Register</h3>

  <mat-form-field appearance="fill">
    <mat-label>Email Address</mat-label>
    <input matInput type="email" #userEmail required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" #userPwd required />
  </mat-form-field>

  <button
    mat-stroked-button
    type="button"
    (click)="authService.SignUp(userEmail.value, userPwd.value)"
  >
    Register
  </button>

  <span>Or</span>

  <!-- Continue with Google -->
  <button mat-stroked-button type="button" (click)="authService.GoogleAuth()">
    Continue with Google
    <mat-icon fontSet="fontawesome" fontIcon="fa-google"></mat-icon>
  </button>

  <!-- Continue with Facebook -->
  <button mat-stroked-button type="button" (click)="authService.FacebookAuth()">
    Continue with Facebook
    <mat-icon fontSet="fontawesome" fontIcon="fa-facebook"></mat-icon>
  </button>

  <span
    >Already have an account?
    <button mat-button routerLink="/sign-in">Log In</button></span
  >
</div>
