<div class="form">
  <h3>Login</h3>

  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput type="text" #userName required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" #userPassword required />
  </mat-form-field>

  <!-- Calling SignIn Api from AuthService -->
  <button
    mat-stroked-button
    type="button"
    (click)="authService.SignIn(userName.value, userPassword.value)"
  >
    Log in
  </button>

  <span>Or</span>

  <!-- Calling GoogleAuth Api from AuthService -->
  <button mat-stroked-button type="button" (click)="authService.GoogleAuth()">
    Log in with Google
    <mat-icon fontSet="fontawesome" fontIcon="fa-google"></mat-icon>
  </button>
  <button mat-stroked-button type="button" (click)="authService.FacebookAuth()">
    Log in with Facebook
    <mat-icon fontSet="fontawesome" fontIcon="fa-facebook"></mat-icon>
  </button>

  <button mat-button routerLink="/forgot-password">Forgot Password?</button>

  <span
    >Don't have an account?<button mat-button routerLink="/register-user">
      Sign Up
    </button></span
  >
</div>
