<div>
  <div>
    <div>
      <h3>Reset Password</h3>

      <p>Please enter your email address to request a password reset.</p>

      <div>
        <input
          type="email"
          placeholder="Email Address"
          #passwordResetEmail
          required
        />
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div>
        <input
          type="submit"
          value="Reset Password"
          (click)="authService.ForgotPassword(passwordResetEmail.value)"
        />
      </div>
    </div>

    <div>
      <span>Go back to ? <span routerLink="/sign-in">Log In</span></span>
    </div>
  </div>
</div>
