<div class="form">
  <h3>Reset Password</h3>

  <p>Please enter your email address to request a password reset.</p>

  <mat-form-field appearance="fill">
    <mat-label>Email Address</mat-label>
    <input matInput type="email" #passwordResetEmail required />
  </mat-form-field>

  <!-- Calling ForgotPassword from AuthService Api -->
  <button
    mat-stroked-button
    type="submit"
    (click)="authService.ForgotPassword(passwordResetEmail.value)"
  >
    Reset Password
  </button>
  <span
    >Go back to <button mat-button routerLink="/sign-in">Log In</button></span
  >
</div>
